/Facial/datasets
/Facial/.idea
/Facial/.vscode
/Facial/Models/__pycache__
/venv
/.vscode
/.idea
/.pytest_cache

*.aux
*.out
*.xml
*.gz
*.tar
*.csv
*.log
*.bib
*.json
*.iml
*.lst
*.rec
*.idx
*.toc
*.tar.gz
*.ps
*.html